* {
    box-sizing: border-box;
}

$padding: 12px;

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 150px;
    border: 1px solid green;
    &__control {
        border: none;
        font-size: 1rem;
        width: 100%;
        height: 30px;
        background: #1426e1;
        border-radius: 20px;
        text-align: left;
        padding-left: $padding;
        color: #FFF;
        position: relative;
        &:after {
            content: '>';
            position: absolute;
            right: $padding;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            transition: transform 200ms;
        }
    }
    &__list {
        margin: 0;
        list-style: none;
        padding: 0;
        position: absolute;
        top: 30px;
        left: $padding;
        background: #04082c;
        width: calc(100% - #{ 2 * $padding});
        transform: scaleY(0);
        transform-origin: top;
        transition: all 200ms;
    }
    &__item > button {
        border: none;
        font-size: 1rem;
        width: 100%;
        text-align: left;
        background: transparent;
        padding: $padding;
        color: #FFF;
    }
    &_active {
        .dropdown {
            &__list {
                transform: scaleY(1);
            }
            &__control {
                &:after {
                    transform: translateY(-50%) rotate(90deg)
                }
            }
        }
    }
}
