@import 'styles/variables';

* {
    box-sizing: border-box;
}

.btn {
    padding: 20px 0;
    width: $size;
    height: $size;
    border: 2px solid black;
    border-radius: 100%;
    background: gray;
    font-size: 10px;
    &_color_red {
        &.btn_active {
            background: red;
        }
    }
    &_color_yellow {
        &.btn_active {
            background: yellow;
        }
    }
    &_color_green {
        &.btn_active {
            background: green;
        }
    }
}

.light {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50px;
}